#### Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import random
import statistics as st

#### Importing Dataset

In [2]:
from google.colab import files
uploaded = files.upload()

Saving employee_dataset.csv to employee_dataset.csv

In [3]:
df = pd.read_csv('employee_dataset.csv')

#### Data Analysis

In [4]:
df.head()

  Employee_ID Grade  Salary
0        E001     B  107255
1        E002     B   82778
2        E003     B   98467
3        E004     D   45148
4        E005     C  115571

In [5]:
df['Grade'].value_counts()

Grade
B    30
A    30
D    20
C    20
Name: count, dtype: int64

#### (a) Generate Samples of Size 30 (2 times) and 40 (3 times) randomly

In [6]:
# Samples of size 30
lower1 = random.randint(0,70)
upper1 = lower1+30
df1 = df.iloc[lower1:upper1, :]

print(df1['Grade'].value_counts())
print(df1['Grade'].count())

Grade
A    9
D    8
B    8
C    5
Name: count, dtype: int64
30

In [7]:
print(st.mean(df1['Salary']))
print(st.median(df1['Salary']))
print(st.mode(df1['Salary']))

67558.53333333334
59944.5
59224

In [8]:
# Samples of size 30
lower2 = random.randint(0,70)
upper2 = lower2+30
df2 = df.iloc[lower2:upper2, :]

print(df2['Grade'].value_counts())
print(df2['Grade'].count())

Grade
B    10
A     8
C     7
D     5
Name: count, dtype: int64
30

In [9]:
print(st.mean(df2['Salary']))
print(st.median(df2['Salary']))
print(st.mode(df2['Salary']))

62924.96666666667
59306.5
42146

In [10]:
# Samples of size 40
lower3 = random.randint(0,60)
upper3 = lower3+40
df3 = df.iloc[lower3:upper3, :]

print(df3['Grade'].value_counts())
print(df3['Grade'].count())

Grade
B    12
A    12
D     8
C     8
Name: count, dtype: int64
40

In [11]:
print(st.mean(df3['Salary']))
print(st.median(df3['Salary']))
print(st.mode(df3['Salary']))

63069.825
62509.0
102327

In [12]:
# Samples of size 40
lower4 = random.randint(0,60)
upper4 = lower4+40
df4 = df.iloc[lower4:upper4, :]

print(df4['Grade'].value_counts())
print(df4['Grade'].count())

Grade
B    14
A    12
D     8
C     6
Name: count, dtype: int64
40

In [13]:
print(st.mean(df4['Salary']))
print(st.median(df4['Salary']))
print(st.mode(df4['Salary']))

72015.825
73442.5
60928

In [14]:
# Samples of size 40
lower5 = random.randint(0,60)
upper5 = lower5+40
df5 = df.iloc[lower5:upper5, :]

print(df5['Grade'].value_counts())
print(df5['Grade'].count())

Grade
A    17
B     9
C     7
D     7
Name: count, dtype: int64
40

In [15]:
print(st.mean(df5['Salary']))
print(st.median(df5['Salary']))
print(st.mode(df5['Salary']))

75945.05
73442.5
107563

#### (b) Generate Samples of Size 30 (2 times) and 40 (3 times) with proportional allocation with replacement

In [16]:
## My approach to this problem
  # Seperate rows of each class and store them in a new dataframe
  # Create a dataframe by concating the desired proportion of rows from dataframe of each class

In [17]:
df_A = df[df['Grade'] == 'A']
df_B = df[df['Grade'] == 'B']
df_C = df[df['Grade'] == 'C']
df_D = df[df['Grade'] == 'D']

In [18]:
print(df_A['Grade'].value_counts())
print(df_B['Grade'].value_counts())
print(df_C['Grade'].value_counts())
print(df_D['Grade'].value_counts())

Grade
A    30
Name: count, dtype: int64
Grade
B    30
Name: count, dtype: int64
Grade
C    20
Name: count, dtype: int64
Grade
D    20
Name: count, dtype: int64

In [19]:
# A = 30 ; No of rows in df_A
# B = 30 ; No of rows in df_B
# C = 20 ; No of rows in df_C
# D = 20 ; No of rows in df_D

In [20]:
## Sample of size 30(A-9, B-9, C-6, D-6)

# Get the 'A' grade rows
lower = random.randint(0, 21)
upper = lower+9
df_A1 = df_A.iloc[lower:upper, :]

# Get the 'B' grade rows
lower = random.randint(0, 21)
upper = lower+9
df_B1 = df_B.iloc[lower:upper, :]

# Get the 'C' grade rows
lower = random.randint(0, 14)
upper = lower+6
df_C1 = df_C.iloc[lower:upper, :]

# Get the 'D' grade rows
lower = random.randint(0, 14)
upper = lower+6
df_D1 = df_D.iloc[lower:upper, :]

# Concating all the dframes
frames = [df_A1, df_B1, df_C1, df_D1]
df1_30 = pd.concat(frames)

df1_30['Grade'].value_counts()

Grade
A    9
B    9
C    6
D    6
Name: count, dtype: int64

In [21]:
print('Mean: ', st.mean(df1_30['Salary']))
print('Median: ', st.median(df1_30['Salary']))
print('Mode: ', st.mode(df1_30['Salary']))

Mean:  62597.7
Median:  57984.0
Mode:  59846

In [22]:
## Sample of size 30(A-9, B-9, C-6, D-6)

# Get the 'A' grade rows
lower = random.randint(0, 21)
upper = lower+9
df_A1 = df_A.iloc[lower:upper, :]

# Get the 'B' grade rows
lower = random.randint(0, 21)
upper = lower+9
df_B1 = df_B.iloc[lower:upper, :]

# Get the 'C' grade rows
lower = random.randint(0, 14)
upper = lower+6
df_C1 = df_C.iloc[lower:upper, :]

# Get the 'D' grade rows
lower = random.randint(0, 14)
upper = lower+6
df_D1 = df_D.iloc[lower:upper, :]

# Concating all the dframes
frames = [df_A1, df_B1, df_C1, df_D1]
df2_30 = pd.concat(frames)

df2_30['Grade'].value_counts()

Grade
A    9
B    9
C    6
D    6
Name: count, dtype: int64

In [23]:
print('Mean: ', st.mean(df2_30['Salary']))
print('Median: ', st.median(df2_30['Salary']))
print('Mode: ', st.mode(df2_30['Salary']))

Mean:  68692.2
Median:  61541.5
Mode:  90138

In [24]:
# A = 30 ; No of rows in df_A
# B = 30 ; No of rows in df_B
# C = 20 ; No of rows in df_C
# D = 20 ; No of rows in df_D

In [25]:
## Sample of size 40(A-12, B-12, C-8, D-8)

# Get the 'A' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_A1 = df_A.iloc[lower:upper, :]

# Get the 'B' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_B1 = df_B.iloc[lower:upper, :]

# Get the 'C' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_C1 = df_C.iloc[lower:upper, :]

# Get the 'D' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_D1 = df_D.iloc[lower:upper, :]

# Concating all the dframes
frames = [df_A1, df_B1, df_C1, df_D1]
df1_40 = pd.concat(frames)

df1_40['Grade'].value_counts()

Grade
A    12
B    12
C     8
D     8
Name: count, dtype: int64

In [26]:
print('Mean: ', st.mean(df1_40['Salary']))
print('Median: ', st.median(df1_40['Salary']))
print('Mode: ', st.mode(df1_40['Salary']))

Mean:  70905.2
Median:  64228.5
Mode:  42959

In [27]:
## Sample of size 40(A-12, B-12, C-8, D-8)

# Get the 'A' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_A1 = df_A.iloc[lower:upper, :]

# Get the 'B' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_B1 = df_B.iloc[lower:upper, :]

# Get the 'C' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_C1 = df_C.iloc[lower:upper, :]

# Get the 'D' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_D1 = df_D.iloc[lower:upper, :]

# Concating all the dframes
frames = [df_A1, df_B1, df_C1, df_D1]
df2_40 = pd.concat(frames)

df2_40['Grade'].value_counts()

Grade
A    12
B    12
C     8
D     8
Name: count, dtype: int64

In [28]:
print('Mean: ', st.mean(df2_40['Salary']))
print('Median: ', st.median(df2_40['Salary']))
print('Mode: ', st.mode(df2_40['Salary']))

Mean:  68743.975
Median:  62509.0
Mode:  42959

In [29]:
## Sample of size 40(A-12, B-12, C-8, D-8)

# Get the 'A' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_A1 = df_A.iloc[lower:upper, :]

# Get the 'B' grade rows
lower = random.randint(0, 18)
upper = lower+12
df_B1 = df_B.iloc[lower:upper, :]

# Get the 'C' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_C1 = df_C.iloc[lower:upper, :]

# Get the 'D' grade rows
lower = random.randint(0, 12)
upper = lower+8
df_D1 = df_D.iloc[lower:upper, :]

# Concating all the dframes
frames = [df_A1, df_B1, df_C1, df_D1]
df3_40 = pd.concat(frames)

df3_40['Grade'].value_counts()

Grade
A    12
B    12
C     8
D     8
Name: count, dtype: int64

In [30]:
print('Mean: ', st.mean(df3_40['Salary']))
print('Median: ', st.median(df3_40['Salary']))
print('Mode: ', st.mode(df3_40['Salary']))

Mean:  70970.55
Median:  76588.5
Mode:  77585

#### (c) Generate Samples of Size 30 (1 time) and 40 (1 times) with proportional allocation without replacement.

In [31]:
# 30 (0-29) ; No of rows in df_A
# 30 (0-29) ; No of rows in df_B
# 20 (0-19) ; No of rows in df_C
# 20 (0-19) ; No of rows in df_D

In [32]:
## Sample of size 30(A-9, B-9, C-6, D-6) without replacement
## Sample of size 40(A-12, B-12, C-8, D-8) without replacement

## For 30 rows dataframe we can have choices of A, B, C, and D as follows and this doesn't create difficulties for 40 rows dataframe:
    # A: (Min Lower)0-18(Max Upper)
    # B: (Min Lower)0-18(Max Upper)
    # C: (Min Lower)0-12(Max Upper)
    # D: (Min Lower)0-12(Max Upper)


# Get the 'A' grade rows
lower30 = random.randint(0, 9)
upper30 = lower30+9
df30_A1 = df_A.iloc[lower30:upper30, :]
df40_A1 = df_A.iloc[upper30:upper30+12, :]

# Get the 'B' grade rows
lower30 = random.randint(0, 9)
upper30 = lower30+9
df30_B1 = df_B.iloc[lower30:upper30, :]
df40_B1 = df_B.iloc[upper30:upper30+12, :]

# Get the 'C' grade rows
lower30 = random.randint(0, 6)
upper30 = lower30+6
df30_C1 = df_C.iloc[lower30:upper30, :]
df40_C1 = df_C.iloc[upper30:upper30+8, :]

# Get the 'D' grade rows
lower30 = random.randint(0, 6)
upper30 = lower30+6
df30_D1 = df_D.iloc[lower30:upper30, :]
df40_D1 = df_D.iloc[upper30:upper30+8, :]

# Concating all the dframes
frames30 = [df30_A1, df30_B1, df30_C1, df30_D1]
frames40 = [df40_A1, df40_B1, df40_C1, df40_D1]
df__30 = pd.concat(frames30)
df__40 = pd.concat(frames40)

print('For 30 samples df: ', df__30['Grade'].value_counts())
print('\n')
print('For 40 samples df: ',df__40['Grade'].value_counts())

For 30 samples df:  Grade
A    9
B    9
C    6
D    6
Name: count, dtype: int64


For 40 samples df:  Grade
A    12
B    12
C     8
D     8
Name: count, dtype: int64

In [33]:
print('For 30 sample dataset \n')
print('Mean: ', st.mean(df__30['Salary']))
print('Median: ', st.median(df__30['Salary']))
print('Mode: ', st.mode(df__30['Salary']))

For 30 sample dataset

Mean:  69481.06666666667
Median:  59633.5
Mode:  40182

In [34]:
print('For 40 sample dataset \n')
print('Mean: ', st.mean(df__40['Salary']))
print('Median: ', st.median(df__40['Salary']))
print('Mode: ', st.mode(df__40['Salary']))

For 40 sample dataset

Mean:  68026
Median:  69779.5
Mode:  33387